body {
    background-color: rgb(245, 255, 255);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.site-header {
    display: flex;
    justify-content: space-between;
    min-width: 512px;
    max-width: 768px;
    height: 256px;
    width: 100%;
}

.site-footer {
    margin-top: auto;
    margin-bottom: 20px;
}